<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exam System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/about_us_page_style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/1571ce0189.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div class="top-bar">
        <button type="button" class="btn btn-secondary menu-toggle" onclick="toggleMenu()">
            <i class="fas fa-bars"></i> Menu
        </button>
        <h1>
            <span th:if="${loggedInUser}" th:text="${'Witaj, ' + loggedInUser.firstName + ' ' + loggedInUser.lastName + '!'}"></span>
        </h1>
        <div class="auth-buttons">
                <span th:if="${loggedInUser}">
                    <button type="button" class="btn btn-secondary logout-button" onclick="logout()">Wyloguj się</button>
                </span>
        </div>
    </div>
</header>

<div class="toolbar-menu">
    <nav class="side-menu">
        <button type="button" class="btn btn-secondary menu-toggle" onclick="toggleMenu()">
            <i class="fas fa-times"></i> Zamknij
        </button>
        <span th:if="${role eq 'Administrator'}">
                <a href="/admin_panel">Panel administratora</a>
            </span>
        <a href="/main_page">Strona główna</a>
        <span th:if="${role eq 'Egzaminator'}">
            <a href="/exams">Egzaminy</a>
        </span>
        <span th:if="${role eq 'Egzaminowany'}">
            <a href="/available_exams">Dostępne egzaminy</a>
        </span>
        <a href="/contact_us">Kontakt</a>
        <a href="/about_us">O nas</a>
    </nav>
</div>

<section class="about-us-section">
    <div class="about-us-container">
        <div class="about-us-content">
            <h2>O nas</h2>
            <p>Witajcie! Jesteśmy zespołem pasjonatów, którzy połączyli swoje umiejętności i doświadczenie, aby dostarczać najwyższej jakości usługi.</p>
            <p>Nasza firma powstała z myślą o spełnianiu oczekiwań naszych klientów poprzez innowacyjne podejście do projektów oraz dbałość o każdy detal.</p>
        </div>
        <div class="about-us-team">
            <h3>Nasz Zespół</h3>
            <div class="team-member">
                <img th:src="@{/images/osoba1.jpg}" alt="Zdjęcie Osoby 1">
                <h4>Daniel Szałaj</h4>
                <p>Programista</p>
            </div>
            <div class="team-member">
                <img th:src="@{/images/osoba2.jpg}" alt="Zdjęcie Osoby 2">
                <h4>Marcin Zaczeniuk</h4>
                <p>Programista</p>
            </div>
            <div class="team-member">
                <img th:src="@{/images/osoba3.jpg}" alt="Zdjęcie Osoby 3">
                <h4>Adrian Tychoniuk</h4>
                <p>Programista</p>
            </div>
            <div class="team-member">
                <img th:src="@{/images/osoba4.jpg}" alt="Zdjęcie Osoby 4">
                <h4>Gabriel Żeruń</h4>
                <p>Programista</p>
            </div>
        </div>
    </div>
</section>

<footer>
    <p>&copy; 2024 ExamSystem. Wszystkie prawa zastrzeżone.</p>
</footer>
<script>
    function toggleMenu() {
        var sideMenu = document.querySelector('.side-menu');
        sideMenu.classList.toggle('open');
    }

    function redirectToLogin() {
        window.location.href = "/login";
    }

    function redirectToRegister() {
        window.location.href = "/register";
    }

    function logout() {
        window.location.href = "/logout";
    }
</script>
</body>
</html>