<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exam System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main_page_style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/1571ce0189.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div class="top-bar">
        <button type="button" class="btn btn-secondary menu-toggle" onclick="toggleMenu()">
            <i class="fas fa-bars"></i> Menu
        </button>
        <h1>
            <span th:if="${loggedInUser}" th:text="${'Witaj, ' + loggedInUser.firstName + ' ' + loggedInUser.lastName + '!'}"></span>
        </h1>
        <div class="auth-buttons">
                <span th:if="${loggedInUser}">
                    <button type="button" class="btn btn-secondary logout-button" onclick="logout()">Wyloguj się</button>
                </span>
        </div>
    </div>
</header>

<div class="banner">
    <img th:src="@{/images/baner.jpg}" alt="zdjecie">
</div>

<div class="toolbar-menu">
    <nav class="side-menu">
        <button type="button" class="btn btn-secondary menu-toggle" onclick="toggleMenu()">
            <i class="fas fa-times"></i> Zamknij
        </button>
        <span th:if="${role eq 'Administrator'}">
                <a href="/admin_panel">Panel administratora</a>
            </span>
        <a href="/main_page">Strona główna</a>
        <span th:if="${role eq 'Egzaminator'}">
            <a href="/exams">Egzaminy</a>
        </span>
        <span th:if="${role eq 'Egzaminowany'}">
            <a href="/available_exams">Dostępne egzaminy</a>
        </span>
        <a href="/contact_us">Kontakt</a>
        <a href="/about_us">O nas</a>
    </nav>
</div>

<div class="container">
    <h2>Witamy w ExamSystem</h2>
    <br>
    <p>ExamSystem to nowoczesna aplikacja do przeprowadzania egzaminów online. Nasza platforma oferuje szereg funkcji, które ułatwiają tworzenie, zarządzanie i przeprowadzanie egzaminów w sposób bezpieczny i efektywny.</p>
    <br>
    <span th:unless="${loggedInUser}">
        <p class="login-register-text">
            <span>Jeżeli posiadasz konto:</span>
            <button type="button" class="btn btn-secondary login-button" onclick="redirectToLogin()">Zaloguj się</button>
            <span>lub</span>
            <span>zarejestruj się terazzz:</span>
            <button type="button" class="btn btn-secondary register-button" onclick="redirectToRegister()">Zarejestruj się</button>
        </p>
    </span>
</div>

<footer>
    <p>&copy; 2024 ExamSystem. Wszystkie prawa zastrzeżone.</p>
</footer>


<script>
    function toggleMenu() {
        var sideMenu = document.querySelector('.side-menu');
        sideMenu.classList.toggle('open');
    }
    function redirectToLogin() {
        window.location.href = "/login";
    }
    function redirectToRegister() {
        window.location.href = "/register";
    }
    function logout() {
        window.location.href = "/logout";
    }
</script>
</body>
</html>